body {
    display: grid;
    grid-template-areas:

        "header header header"

        "nav article ads"

        "footer footer footer";

    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 25% 1fr 20%;

    grid-row-gap: 10px;
    grid-column-gap: 10px;

    height: 100vh;
    margin: 0;
}

.header,
.footer,
.article,
.nav,
.ads {
    padding: 5px;
    background-color: #ffd700;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.article {
    grid-area: article;
}

.nav {
    grid-area: nav;
}

.ads {
    grid-area: ads;
}

